.highlightBlog {
  max-width: 50rem;
  display: flex;
  gap: 1rem;
}

.highlightBlog > img {
  border-radius: 20px;
}

/* .highlightBlog:hover{
  background-color: #0c353f;
} */
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info > * {
  margin: 0;
}

.p{
  text-justify: inter-character;
}