#root {
  max-width: 1280px ;
  margin: 2em;
  padding: 2em;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
  justify-content: space-between;
}

.g2 {
  display: flex;
  gap: 1.5em;
}

.headshotImage {
  max-width: 180px;
  max-height: 180px;
  /* border: 5px solid #19d4ec; */
  border-radius: 40px;
}

.homepage{
  margin-top: 55px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.aboutSection{
  position: sticky;
  top: 2rem;
  align-self: start; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}