#root {
  max-width: auto ;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
  justify-content: space-between;
}

.g2 {
  display: flex;
  gap: 1.5em;
}