#root {
  max-width: 1280px ;
  /* margin: 2em; */
  /* padding: 2em; */
  /* text-align: center; */
}

.mainContainer {
  margin: 4em;
  margin-top: 1.5em;
}

.content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.highlightBlog{
  width: 50rem;
}

.highlightBlog > div{
  display: flex;
  gap: 1rem;
}

.highlightBlog > div > img{
  border-radius: 20px;
}