:root {
  font-family: 'Poppins', 'Montserrat', Arial, sans-serif;


  color: rgba(255, 255, 255, 0.87);
  background-color: #11282e;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #97f7f2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  align-items: center;
  /* min-width: 3200px; */
  /* min-height: 150vh; */
}
